extends base.pug

block content
    form(method="POST")
        input(name="title", placeholder="Video Title", value=video.title, required)
        input(name="description" placeholder="Description", required, type="text",minlength=20, value=video.description)
        input(value="저장", type="submit") 