extends base.pug

block content
    if  errorMessage
        span=errorMessage
    form(method="POST")
        input(name="title" placeholder="제목", required, type="text",maxlength=50)
        input(name="description" placeholder="설명", required, type="text",maxlength=50)
        input(name="" type="submit", value="할 일 추가")